<table>
	<tr>
		<th>Dialog base size:</th>
    <td>
    <input type="text" id="settings_input_dialog_base_size" name="settings[input_dialog_base_size]" value="<%= settings['input_dialog_base_size'] %>"></input>
    </td>
    <td>
    </td>
	</tr>
	<tr>
		<th>Textarea size:</th>
    <td>
    <input type="text" id="settings_textarea_size" name="settings[textarea_size]" value="<%= settings['textarea_size'] %>"></input>
    </td>
    <td>
    </td>
	</tr>
	<tr>
		<th>Pattern of name for exclude custom fields:</th>
    <td>
    <input type="text" id="settings_custom_field_exclude_names" name="settings[custom_field_exclude_names]" value="<%= settings['custom_field_exclude_names'] %>"></input>
    </td>
    <td>
    </td>
	</tr>
  <tr>
    <th>Emulate bulk update </th>
    <td>
      <input type="checkbox" id="settings_emulate_bulk_update" name="settings[emulate_bulk_update]" value="on" <%= settings['emulate_bulk_update'] == 'on' ? 'checked' : '' %>></input>
    </td>
    <td>If you check, replace function calls the hook of "controller_issues_bulk_edit_before_save".</td>
</table>
