<div id="quick_edit_input_dialogs"></div>
<div id="cursor" style="border: 1px dotted gray; position: absolute; display: none; opacity: 0.5;">&nbsp;</div>
<script>
//<![CDATA[
var offsetY = /[\?&]offsetY=(\d+)[$&]/g.exec(location.href);
if (offsetY) {
  window.scrollTo(0, offsetY[1]);
}

$("tr.issue").draggable({
  cursor: "move",
  start: function (event, ui) {
    drag_element = $(this);
    if (!drag_element.hasClass("context-menu-selection")) {
      drag_element.addClass("context-menu-selection");
    }

    $("#cursor").css( {
      "top": drag_element.css("top"),
      "left": $("#content").css("padding-left"),
      "width": drag_element.css("width"),
      "height": drag_element.css("height"),
      "background-color": drag_element.css("background-color"),
      "display": "block"});
  },
  stop: function (event, ui) { $("#cursor").css({"display": "none"}); },
  drag: function (event, ui) { $("#cursor").css({"top": event.pageY}); }
});

$("tr.issue").droppable({
  drop: function (event, ui) {
    var update_ids = quick_edit_get_selections();
    var new_parent_id = quick_edit_get_issue_id_from_element(this);
    $.ajax({
      url: '<%= quick_edit_issues_edit_path() %>?' + update_ids.join("&") + '&target_specifier=issue[parent_issue_id]&default_value='+new_parent_id,
      dataType: "script",
      success : function (html) { $("#quick_edit_dialogs").html(html); }
    });
  }
});

function quick_edit_get_selections() {
    var ids = [];
    $(".context-menu-selection").each(function (index,element) {
      var id = quick_edit_get_issue_id_from_element(element);
      ids.push("ids[]="+id);
    });
    return ids;
}

function quick_edit_get_issue_id_from_element(element) {
  var id = $(element).attr("id");
  var m = /issue-(.*)/.exec(id);
  return m[1];
}

function quick_edit_input_dialog_close(){
  $("#quick_edit_input_dialog").remove();
}

function quick_edit_input_dialog_cancel(){
  $("#quick_edit_input_dialog").dialog("close");
}

function quick_edit_input_dialog_submit(){
  var new_value = $("#quick_edit_input_dialog > form > #new_value").val();
  if(new_value === null) return;

  var pattern = new RegExp($("#quick_edit_input_dialog > form > #validation_pattern").val());

  if(new_value == "") {
    alert('<%=l(:text_is_required)%>');
    return;

  } else {

    if(pattern && !pattern.test(new_value)){
       alert('<%=l(:text_invalid_format)%>');
       return;
    }
  }

  var issue_ids = [];
  $("#quick_edit_input_dialog > form > #ids").each(function (index,element) {
    issue_ids.push($(this).val());
  });
  if(issue_ids.length>1){
     if(!confirm('<%=l(:text_multiple_update_confirm)%>')) return;
  }

  var offsetY = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
  var back_url = $("#quick_edit_input_dialog > form > #back_url").val();
  if (back_url.indexOf("?") == -1) {
    back_url = back_url + "?offsetY=" + offsetY;
  } else {
    back_url = back_url + "&offsetY=" + offsetY;
  }
  $("#quick_edit_input_dialog > form > #back_url").val(back_url);

  $("#quick_edit_input_dialog > form").submit();
}

function quick_edit_show_new_relation_dialog(first_issue_id, second_issue_id, back_url){
  $("#quick_edit_new_relation_dialog > form > #issue_id").val(first_issue_id);
  $("#quick_edit_new_relation_dialog > form > #relation_issue_to_id").val(second_issue_id);
  $("#quick_edit_new_relation_dialog > form > #back_url").val(back_url);
  $("#quick_edit_new_relation_dialog").dialog({
     modal: true,
     closeOnEscape: false,
     width: 450,
     height: 150,
     close: quick_edit_new_relation_dialog_close
  });
}

function quick_edit_new_relation_dialog_cancel(){
   $('#quick_edit_new_relation_dialog').dialog("close");
}

function quick_edit_new_relation_dialog_close(){
}

//]]>
</script>

